In [1]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

24/03/03 18:55:57 WARN Utils: Your hostname, DESKTOP-87NE6FD resolves to a loopback address: 127.0.1.1; using 172.28.203.119 instead (on interface eth0)
24/03/03 18:55:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/03 18:56:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

combine two datasets

In [9]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [10]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

we see that there're some common columns. let's look which are exactly

In [11]:
set(df_yellow.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'tpep_dropoff_datetime',
 'tpep_pickup_datetime',
 'trip_distance'}

actually we have simillar columns pickup and dropoff in both column but they have different names. let's unify them

In [12]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [13]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [15]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [16]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

now we can select common columms with data for both datasets by using 'select'

In [17]:
df_green.select(common_columns).show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|       2|2020-01-18 14:54:39|2020-01-18 15:16:34|                 N|         1|          66|         161|              1|         6.95|       23.0|  0.0|    0.5|      5.31|         0.0|                  0.3|       31.86|           1|                2.75|
|       2|2020-01-21 17:55:07|2020-01-21 18:10:20|                 N|         1|          74|          42|              1|         1.61|       11.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        12.8|           2|                 0.0|
|       2|2020-01-24 08:15:41|2020-01-24 08:29:22|                 N|         1|          82|         173|              1|         2.05|       11.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.8|           2|                 0.0|
|    null|2020-01-29 14:18:00|2020-01-29 14:37:00|              null|      null|         205|          95|           null|         5.32|      29.56| 2.75|    0.0|       0.0|         0.0|                  0.3|       32.61|        null|                null|
|       2|2020-01-05 21:54:45|2020-01-05 22:05:14|                 N|         1|          65|          49|              1|         1.94|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|           1|                 0.0|
|    null|2020-01-07 05:18:00|2020-01-07 05:44:00|              null|      null|         136|         107|           null|        12.49|      32.77|  0.0|    0.0|       0.0|         0.0|                  0.3|       33.07|        null|                null|
|       2|2020-01-11 14:06:26|2020-01-11 14:16:31|                 N|         1|          31|         241|              1|         2.08|        9.5|  0.0|    0.5|      3.09|         0.0|                  0.3|       13.39|           1|                 0.0|
|    null|2020-01-22 12:42:00|2020-01-22 12:55:00|              null|      null|         155|          39|           null|         2.99|      23.79| 2.75|    0.0|       0.0|         0.0|                  0.3|       26.84|        null|                null|
|       2|2020-01-10 20:32:24|2020-01-10 20:48:05|                 N|         1|          74|         166|              5|         2.31|       11.5|  0.5|    0.5|       0.1|         0.0|                  0.3|        12.9|           1|                 0.0|
|       1|2020-01-21 16:09:22|2020-01-21 16:30:17|                 N|         1|         244|         142|              1|          5.8|       20.5| 3.75|    0.5|       0.0|         0.0|                  0.3|       25.05|           2|                2.75|
|       2|2020-01-17 10:56:55|2020-01-17 11:04:27|                 N|         1|           7|         223|              1|         1.62|        7.5|  0.0|    0.5|      1.66|         0.0|                  0.3|        9.96|           1|                 0.0|
|       2|2020-01-16 07:34:58|2020-01-16 07:51:29|                 N|         1|          74|         243|              6|         4.99|       18.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        18.8|           2|                 0.0|
|    null|2020-01-03 14:37:00|2020-01-03 14:57:00|              null|      null|          61|          52|           null|         2.92|      14.38|  0.0|    0.0|       0.0|         0.0|                  0.3|       14.68|        null|                null|
|       2|2020-01-19 02:36:01|2020-01-19 02:45:58|                 N|         5|          65|          49|              2|         1.79|       35.0|  0.0|    0.0|     10.59|         0.0|                  0.3|       45.89|           1|                 0.0|
|       2|2020-01-07 15:35:53|2020-01-07 15:59:53|                 N|         1|          82|         162|              1|         5.07|       19.0|  0.0|    0.5|       0.0|         0.0|                  0.3|       22.55|           2|                2.75|
|       2|2020-01-16 19:19:56|2020-01-16 19:24:55|                 N|         1|          75|         236|              1|         0.97|        5.5|  1.0|    0.5|       0.0|         0.0|                  0.3|       10.05|           2|                2.75|
|    null|2020-01-08 12:02:00|2020-01-08 12:20:00|              null|      null|         127|          42|           null|         4.96|      21.01| 2.75|    0.0|       0.0|         0.0|                  0.3|       24.06|        null|                null|
|       2|2020-01-29 18:21:27|2020-01-29 18:22:10|                 N|         1|          14|          14|              1|         0.32|        3.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         4.8|           2|                 0.0|
|       2|2020-01-31 09:28:46|2020-01-31 09:37:24|                 N|         1|         134|         130|              1|         1.49|        8.5|  0.0|    0.5|       2.0|         0.0|                  0.3|        11.3|           1|                 0.0|
|       2|2020-01-26 17:52:06|2020-01-26 18:18:05|                 N|         1|         133|          22|              5|         3.94|       18.0|  0.0|    0.5|       2.0|         0.0|                  0.3|       22.75|           1|                 0.0|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
only showing top 20 rows

create column 'service_type' with two values 'green' and 'yellow'

In [18]:
from pyspark.sql import functions as F

In [19]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [20]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

union two datasets

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [23]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

using sql

In [24]:
spark.sql("""
SELECT * FROM df_trips_data LIMIT 10;
""")

AnalysisException: Table or view not found: df_trips_data; line 2 pos 14;
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Project [*]
      +- 'UnresolvedRelation [df_trips_data], [], false

we see that spark didn't recognize df_trips_data as a table. we have to 'say' spark that this dataframe is a table

In [26]:
df_trips_data.registerTempTable('trips_data')

/home/timur/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

let's execute our command above again

In [30]:
spark.sql("""
SELECT * FROM trips_data LIMIT 10;
""").show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2020-01-18 14:54:39|2020-01-18 15:16:34|                 N|         1|          66|         161|              1|         6.95|       23.0|  0.0|    0.5|      5.31|         0.0|                  0.3|       31.86|           1|                2.75|       green|
|       2|2020-01-21 17:55:07|2020-01-21 18:10:20|                 N|         1|          74|          42|              1|         1.61|       11.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        12.8|           2|                 0.0|       green|
|       2|2020-01-24 08:15:41|2020-01-24 08:29:22|                 N|         1|          82|         173|              1|         2.05|       11.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.8|           2|                 0.0|       green|
|    null|2020-01-29 14:18:00|2020-01-29 14:37:00|              null|      null|         205|          95|           null|         5.32|      29.56| 2.75|    0.0|       0.0|         0.0|                  0.3|       32.61|        null|                null|       green|
|       2|2020-01-05 21:54:45|2020-01-05 22:05:14|                 N|         1|          65|          49|              1|         1.94|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|           1|                 0.0|       green|
|    null|2020-01-07 05:18:00|2020-01-07 05:44:00|              null|      null|         136|         107|           null|        12.49|      32.77|  0.0|    0.0|       0.0|         0.0|                  0.3|       33.07|        null|                null|       green|
|       2|2020-01-11 14:06:26|2020-01-11 14:16:31|                 N|         1|          31|         241|              1|         2.08|        9.5|  0.0|    0.5|      3.09|         0.0|                  0.3|       13.39|           1|                 0.0|       green|
|    null|2020-01-22 12:42:00|2020-01-22 12:55:00|              null|      null|         155|          39|           null|         2.99|      23.79| 2.75|    0.0|       0.0|         0.0|                  0.3|       26.84|        null|                null|       green|
|       2|2020-01-10 20:32:24|2020-01-10 20:48:05|                 N|         1|          74|         166|              5|         2.31|       11.5|  0.5|    0.5|       0.1|         0.0|                  0.3|        12.9|           1|                 0.0|       green|
|       1|2020-01-21 16:09:22|2020-01-21 16:30:17|                 N|         1|         244|         142|              1|          5.8|       20.5| 3.75|    0.5|       0.0|         0.0|                  0.3|       25.05|           2|                2.75|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+

In [33]:
spark.sql("""
SELECT 
    service_type,
    count(1)
FROM
    trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [34]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [35]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         164|2020-01-01 00:00:00|       green|  1139.5300000000002|                68.75|                    2.5|                       0.0|          116.28000000000003|                   10.800000000000004|          1337.8600000000001|                                 0.0|                       1.0|       8.912222222222223|
|         162|2020-01-01 00:00:00|       green|  2281.4600000000005|               145.75|                    9.0|                     11.52|          137.44000000000003|                   20.700000000000028|          2605.8700000000003|                                 0.0|                       1.0|       9.524927536231884|
|         116|2019-12-01 00:00:00|       green|               21.59|                  1.0|                    1.0|                      4.95|                         0.0|                   0.8999999999999999|          29.439999999999998|                                 0.0|                       1.0|      0.6366666666666666|
|         265|2020-02-01 00:00:00|       green|  12431.599999999991|               359.09|                  118.0|                    353.03|           461.3600000000002|                    98.69999999999965|           13827.27999999999|                                2.75|        1.5217391304347827|        8.64527472527472|
|         130|2019-12-01 00:00:00|       green|                34.0|                  2.0|                    2.0|                      2.56|                         0.0|                                  1.2|                       41.76|                                 0.0|                       1.0|                  2.0225|
|         138|2020-02-01 00:00:00|       green|              982.34|                 6.75|                   17.5|                    143.64|                       18.36|                   15.300000000000004|          1189.3899999999996|                                 5.5|                       1.3|       2.475686274509804|
|         155|2020-01-01 00:00:00|       green|   25022.44000000009|              1798.25|                  212.0|                      9.01|           429.1100000000003|                   255.00000000000395|          27730.509999999984|                                2.75|        1.2418300653594772|      5.5107524752475125|
|          98|2020-01-01 00:00:00|       green|   5543.489999999997|                344.5|                   38.0|                      6.46|          109.64000000000001|                    60.89999999999978|           6110.440000000002|                                 5.5|         1.173913043478261|        5.63216981132075|
|         115|2020-01-01 00:00:00|       green|             1960.14|                 29.0|                   14.0|                       0.0|           434.5200000000002|                   11.100000000000005|          2448.7599999999998|                                 0.0|                      1.52|      14.539487179487182|
|         194|2020-01-01 00:00:00|       green|  1151.5000000000002|                 41.5|                   11.5|                     11.14|           201.9600000000001|                    9.900000000000002|          1442.4000000000003|                                11.0|        1.2857142857142858|      7.2821428571428575|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                       1.0|                     0.0|
|         116|2020-02-01 00:00:00|       green|   77899.19999999995|              3196.25|                 2770.5|         6215.789999999997|          1176.9699999999998|                    1809.299999999897|           95437.61000000354|                             2694.25|         1.196932299012694|       2.854020003226331|
|          95|2020-01-01 00:00:00|       green|  165389.12000000052|               8057.5|                 6076.0|        13427.379999999977|          2529.8199999999742|                    4000.500000000965|          200177.01999997895|                               722.5|        1.3752864157119475|       2.789498157700803|
|         179|2020-02-01 00:00:00|       green|  30993.810000000063|               1776.0|                 1028.0|                   2440.61|           403.9200000000002|                    706.2000000000122|           37867.83999999955|                              508.75|        1.4434865900383143|      2.8016645754914267|
|          77|2020-02-01 00:00:00|       green|  16452.800000000007|               1370.0|                  103.5|                      6.62|           591.0700000000003|                   161.09999999999917|           18690.93999999998|                                 0.0|        1.1851851851851851|      6.5498299319727895|
|         198|2020-02-01 00:00:00|       green|   8626.359999999991|                739.5|                   62.5|                    119.16|          189.44000000000003|                    96.89999999999972|           9847.160000000009|                                16.5|        1.2190476190476192|        4.81840579710145|
|         171|2020-02-01 00:00:00|       green|  11996.220000000003|               830.25|                   38.5|                     51.14|          402.60000000000014|                   114.89999999999954|                    13443.81|                                8.25|        1.2884615384615385|        7.25451776649746|
|          73|2020-02-01 00:00:00|       green|  2853.6799999999994|               208.25|                   17.0|                     27.72|                       55.08|                    30.90000000000003|           3196.530000000001|                                 0.0|        1.3076923076923077|       5.247727272727273|
|         120|2020-02-01 00:00:00|       green|              695.38|                29.25|                   10.0|                     20.24|                       12.24|                    8.999999999999996|           795.3599999999999|                                22.0|        1.3043478260869565|       6.536333333333332|
|         191|2020-01-01 00:00:00|       green|    24836.6200000001|              1235.25|                  144.0|         9.969999999999999|          411.53000000000026|                   218.40000000000256|          26858.520000000008|                                2.75|        1.2651162790697674|       8.111508951406641|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

save the result

In [36]:
df_result.write.parquet('data/report/revenue/')