In [1]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# Spark object

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/02/29 20:48:34 WARN Utils: Your hostname, DESKTOP-87NE6FD resolves to a loopback address: 127.0.1.1; using 172.28.203.119 instead (on interface eth0)
24/02/29 20:48:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/29 20:48:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [60]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [61]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

#### We see that there's only a string types

In [62]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [63]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

#### Save only 1001 rows into new dataset

In [64]:
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [65]:
!wc -l head.csv

1001 head.csv

In [71]:
import pandas as pd
pd.DataFrame.iteritems = pd.DataFrame.items

In [67]:
df_pandas = pd.read_csv('head.csv')

In [68]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

#### Spark method for creating dataframe

In [72]:
df_spark = spark.createDataFrame(df_pandas)

In [73]:
df_spark.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

Now we see that when we use .schema there's a bit of "parsing"

In [74]:
df_spark.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

But it's still not an ideal schema so we're going to create custom schema

In [78]:
from pyspark.sql import types

In [81]:
# variable schema with a schema of dataset

schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)])

In [83]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [84]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [86]:
df.head(10)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 6, 59), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 43, 1), PULocationID=88, DOLocationID=42, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 50), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 4, 57), PULocationID=42, DOLocationID=151, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 14, 30), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 50, 27), PULocationID=71, DOLocationID=226, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 22, 54), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 30, 20), PULocationID=112, DOLocationID=255, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 40, 12), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 53, 31), PULocationID=255, DOLocationID=232, SR_Flag=None)]

#### Using Spark partition technique with "df.repartition()"

In [87]:
df.repartition(24)

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

Repartition is a 'lazy' function so it takes a bit time

In [88]:
df.write.parquet('fhvhv/2021/01')

24/02/28 23:58:19 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

#### Read parquet files which we saved above

In [18]:
df = spark.read.parquet('fhvhv/2021/01')

In [19]:
df

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

In [20]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02864|2021-01-17 06:20:53|2021-01-17 06:45:39|         148|         138|   null|
|           HV0003|              B02835|2021-01-17 06:27:43|2021-01-17 06:39:08|         231|          79|   null|
|           HV0003|              B02835|2021-01-17 06:44:48|2021-01-17 07:04:54|          79|         138|   null|
|           HV0003|              B02764|2021-01-17 06:48:16|2021-01-17 06:56:14|          14|         228|   null|
|           HV0003|              B02764|2021-01-17 06:08:05|2021-01-17 06:14:56|          73|         192|   null|
|           HV0003|              B02764|2021-01-17 06:33:25|2021-01-17 06:41:16|           7|         129|   null|
|           HV0003|              B02764|2021-01-17 06:46:40|2021-01-17 07:03:37|         129|          61|   null|
|           HV0003|              B02887|2021-01-17 06:27:04|2021-01-17 06:39:47|          21|          14|   null|
|           HV0003|              B02887|2021-01-17 06:42:44|2021-01-17 06:54:12|          14|          40|   null|
|           HV0003|              B02682|2021-01-17 06:08:53|2021-01-17 06:20:59|          42|         142|   null|
|           HV0003|              B02682|2021-01-17 06:26:38|2021-01-17 06:46:48|         238|         250|   null|
|           HV0005|              B02510|2021-01-17 06:18:32|2021-01-17 06:24:11|         225|          61|   null|
|           HV0005|              B02510|2021-01-17 06:28:52|2021-01-17 06:52:31|         225|         132|   null|
|           HV0003|              B02765|2021-01-17 06:16:39|2021-01-17 06:52:52|         263|         265|   null|
|           HV0003|              B02836|2021-01-17 06:25:29|2021-01-17 06:38:11|          69|         243|   null|
|           HV0003|              B02836|2021-01-17 06:41:07|2021-01-17 07:00:16|         127|           4|   null|
|           HV0003|              B02870|2021-01-17 06:20:10|2021-01-17 06:44:40|          21|         107|   null|
|           HV0003|              B02870|2021-01-17 06:48:25|2021-01-17 06:59:35|         107|         236|   null|
|           HV0003|              B02764|2021-01-17 06:57:31|2021-01-17 07:20:10|         232|         128|   null|
|           HV0003|              B02872|2021-01-17 06:20:40|2021-01-17 06:40:10|         226|          75|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [21]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [22]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003') \
  .show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-17 06:20:53|2021-01-17 06:45:39|         148|         138|
|2021-01-17 06:27:43|2021-01-17 06:39:08|         231|          79|
|2021-01-17 06:44:48|2021-01-17 07:04:54|          79|         138|
|2021-01-17 06:48:16|2021-01-17 06:56:14|          14|         228|
|2021-01-17 06:08:05|2021-01-17 06:14:56|          73|         192|
|2021-01-17 06:33:25|2021-01-17 06:41:16|           7|         129|
|2021-01-17 06:46:40|2021-01-17 07:03:37|         129|          61|
|2021-01-17 06:27:04|2021-01-17 06:39:47|          21|          14|
|2021-01-17 06:42:44|2021-01-17 06:54:12|          14|          40|
|2021-01-17 06:08:53|2021-01-17 06:20:59|          42|         142|
|2021-01-17 06:26:38|2021-01-17 06:46:48|         238|         250|
|2021-01-17 06:16:39|2021-01-17 06:52:52|         263|         265|
|2021-01-17 06:25:29|2021-01-17 06:38:11|          69|         243|
|2021-01-17 06:41:07|2021-01-17 07:00:16|         127|           4|
|2021-01-17 06:20:10|2021-01-17 06:44:40|          21|         107|
|2021-01-17 06:48:25|2021-01-17 06:59:35|         107|         236|
|2021-01-17 06:57:31|2021-01-17 07:20:10|         232|         128|
|2021-01-17 06:20:40|2021-01-17 06:40:10|         226|          75|
|2021-01-17 06:43:54|2021-01-17 06:51:15|          74|          75|
|2021-01-17 06:59:51|2021-01-17 07:14:23|         238|         244|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

### Spark's basic functions

In [31]:
from pyspark.sql import functions as F
from pyspark.sql import types

#### Creating new columns

In [32]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime))\
    .show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|pickup_date|dropoff_date|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+
|           HV0003|              B02864|2021-01-17 06:20:53|2021-01-17 06:45:39|         148|         138|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02835|2021-01-17 06:27:43|2021-01-17 06:39:08|         231|          79|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02835|2021-01-17 06:44:48|2021-01-17 07:04:54|          79|         138|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02764|2021-01-17 06:48:16|2021-01-17 06:56:14|          14|         228|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02764|2021-01-17 06:08:05|2021-01-17 06:14:56|          73|         192|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02764|2021-01-17 06:33:25|2021-01-17 06:41:16|           7|         129|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02764|2021-01-17 06:46:40|2021-01-17 07:03:37|         129|          61|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02887|2021-01-17 06:27:04|2021-01-17 06:39:47|          21|          14|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02887|2021-01-17 06:42:44|2021-01-17 06:54:12|          14|          40|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02682|2021-01-17 06:08:53|2021-01-17 06:20:59|          42|         142|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02682|2021-01-17 06:26:38|2021-01-17 06:46:48|         238|         250|   null| 2021-01-17|  2021-01-17|
|           HV0005|              B02510|2021-01-17 06:18:32|2021-01-17 06:24:11|         225|          61|   null| 2021-01-17|  2021-01-17|
|           HV0005|              B02510|2021-01-17 06:28:52|2021-01-17 06:52:31|         225|         132|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02765|2021-01-17 06:16:39|2021-01-17 06:52:52|         263|         265|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02836|2021-01-17 06:25:29|2021-01-17 06:38:11|          69|         243|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02836|2021-01-17 06:41:07|2021-01-17 07:00:16|         127|           4|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02870|2021-01-17 06:20:10|2021-01-17 06:44:40|          21|         107|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02870|2021-01-17 06:48:25|2021-01-17 06:59:35|         107|         236|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02764|2021-01-17 06:57:31|2021-01-17 07:20:10|         232|         128|   null| 2021-01-17|  2021-01-17|
|           HV0003|              B02872|2021-01-17 06:20:40|2021-01-17 06:40:10|         226|          75|   null| 2021-01-17|  2021-01-17|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+-----------+------------+
only showing top 20 rows

### Spark's custom functions

In [33]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    else:
        return f'e/{num:03x}'

In [34]:
crazy_stuff('B02884')

's/b44'

#### Turn usual python function into Spark's user define function

In [35]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())