# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [16]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [ ]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [ ]:
# to do: homework :)

## 1. Use a generator

### Question 1:
What is the sum of the outputs of the generator for limit = 5?
- A: 10.23433234744176
- B: 7.892332347441762
- C: 8.382332347441762
- D: 9.123332347441762

In [20]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Определение генератора
generator = square_root_generator(5)

# Подсчет суммы выводов генератора
sum_of_outputs = sum(generator)

print("Sum of the outputs of the generator:", sum_of_outputs)

Sum of the outputs of the generator: 8.382332347441762

### Answer: 
- C: 8.382332347441762

## Question 2:
What is the 13th number yielded by the generator?
- A: 4.236551275463989
- B: 3.605551275463989
- C: 2.345551275463989
- D: 5.678551275463989

In [18]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

### Answer: 
- B: 3.605551275463989

## Question 3:
Append the 2 generators. After correctly appending the data, calculate the sum of all ages of people.
- A: 353
- B: 365
- C: 378
- D: 390

### Generator 1:

In [21]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}

### Generator 2:

In [22]:
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

### Load 1 generator

In [ ]:
import dlt

# define the connection to load to
pipeline = dlt.pipeline(pipeline_name="people_age_dt",
                        destination='duckdb',
                        dataset_name='people_ages')


info = pipeline.run(people_1(),
                   table_name="users",
                   write_disposition="replace")


# show the outcome
print(info)

### Load 2 generator

In [25]:
info = pipeline.run(people_2(),
                    table_name="users",
                    write_disposition="append")

print(info)

Pipeline people_age_dt load step completed in 0.43 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages
The duckdb destination used duckdb:////home/timur/work_hub/DE-zoomcamp_2024/Workshop 1: Data Ingestion/people_age_dt.duckdb location to store data
Load package 1708024855.414149 is LOADED and contains no failed jobs

### Calculate the sum of all ages of people.

In [28]:
import duckdb

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n http_download table below:")

rides = conn.sql("SELECT * FROM users").df()
display(rides)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ users               │
└─────────────────────┘

 http_download table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708024673.1531687  evdnl/rtI9ZCDQ       None
1    2  Person_2   27  City_A  1708024673.1531687  TgAVobjW30z//A       None
2    3  Person_3   28  City_A  1708024673.1531687  eWvYQBFfQO6W/Q       None
3    4  Person_4   29  City_A  1708024673.1531687  02l4f/Ja+EIO1Q       None
4    5  Person_5   30  City_A  1708024673.1531687  1C9qD18KQPOx5w       None
5    3  Person_3   33  City_B   1708024855.414149  iBWF0JtfuX2jHw      Job_3
6    4  Person_4   34  City_B   1708024855.414149  AXY1YkAB3im5tQ      Job_4
7    5  Person_5   35  City_B   1708024855.414149  92VICGAejhHcGA      Job_5
8    6  Person_6   36  City_B   1708024855.414149  GAjqqyOnY2GoNw      Job_6
9    7  Person_7   37  City_B   1708024855.414149  1GocxgJUjXFphw      Job_7
10   8  Person_8   38  City_B   1708024855.414149  YITiT3IUAk4GFQ      Job_8

In [30]:
rides.age.sum()

353

### Answer:

- A: 353

## Question 4:

Merge the 2 generators using the ID column. Calculate the sum of ages of all the people loaded as described above.
- A: 215
- B: 266
- C: 241
- D: 258

### Load 1 generator

In [40]:
import dlt

# define the connection to load to
pipeline = dlt.pipeline(pipeline_name="people_age_dt_merges",
                        destination='duckdb',
                        dataset_name='people_ages_merges')


info = pipeline.run(people_1(),
                   table_name="users_merges",
                   write_disposition="replace",
                   primary_key="ID")


# show the outcome
print(info)

Pipeline people_age_dt_merges load step completed in 0.46 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages_merges
The duckdb destination used duckdb:////home/timur/work_hub/DE-zoomcamp_2024/Workshop 1: Data Ingestion/people_age_dt_merges.duckdb location to store data
Load package 1708025557.1034067 is LOADED and contains no failed jobs

### Load 2 generator

In [41]:
info = pipeline.run(people_2(),
                    table_name="users_merges",
                    write_disposition="merge",
                    primary_key="ID")

print(info)

Pipeline people_age_dt_merges load step completed in 0.69 seconds
1 load package(s) were loaded to destination duckdb and into dataset people_ages_merges
The duckdb destination used duckdb:////home/timur/work_hub/DE-zoomcamp_2024/Workshop 1: Data Ingestion/people_age_dt_merges.duckdb location to store data
Load package 1708025568.4033816 is LOADED and contains no failed jobs

### Calculate the sum of all ages of people

In [42]:
import duckdb

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n http_download table below:")

users_merge = conn.sql("SELECT * FROM users_merge").df()
display(users_merge)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ users_merges        │
└─────────────────────┘

 http_download table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708025445.3592682  5Q+wTZWpqrbQMA       None
1   2  Person_2   27  City_A  1708025445.3592682  3E3bBQw9Bf5y5w       None
2   8  Person_8   38  City_B   1708025490.675044  tzm0PuDFfSv7Tw      Job_8
3   5  Person_5   35  City_B   1708025490.675044  /bju3UReCU6FcA      Job_5
4   3  Person_3   33  City_B   1708025490.675044  eVP0JaNjld7qKg      Job_3
5   6  Person_6   36  City_B   1708025490.675044  L9UwfGrzNfIEhQ      Job_6
6   4  Person_4   34  City_B   1708025490.675044  pQBWu3kWF82RkA      Job_4
7   7  Person_7   37  City_B   1708025490.675044  pNDehGvxcR/aSA      Job_7

In [43]:
users_merge.age.sum()

266

### Answer: 
- B: 266

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX